<div class="team team__backdrop is-hidden">
  <div class="team__wrapper container">
    <button class="team__modal-close-btn" type="button">
      <svg class="team__modal-close-icon" width="20" height="20">
        <use href="img/symbols.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="team__title">Our cool team</h2>
    <ul class="team__list">
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            loading="lazy"
            src="../images/01-Kaan Erenmemisoglu.jpeg"
            alt="Ruslana Onyshchuk"
          />
        </div>
        <div class="team__box">
          <p class="team__member">Kaan Erenmemisoglu</p>
          <p class="team__role">Scrum Master | Developer</p>
          <a
            class="team__link-linkedin team__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com/in/kaan-erenmemisoglu/"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="img/symbols.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/RoyalNegative"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="img/symbols.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <div class="team-img-wrap">
            <img
              class="team__img"
              loading="lazy"
              src="../images/02-Yeşim Bozkurt.jpg"
              alt="02-Yeşim Bozkurt"
              width="240"
            />
          </div>
        </div>
        <div class="team__box">
          <h2 class="team__member">Yeşim Bozkurt</h2>
          <p class="team__role">Team Lead | Developer</p>
          <a
            class="team__link-linkedin team__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="www.linkedin.com/in/yeşim-bozkurt"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="img/symbols.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/yesimbozkurt"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="img/symbols.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            loading="lazy"
            src="images/03-Dilara Aydemir.jpg"
            alt="Dilara Aydemir"
          />
        </div>
        <div class="team__box">
          <p class="team__member">Dilara Aydemir</p>
          <p class="team__role">Front End Developer</p>
          <a
            class="team__link-linkedin team__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="merhaba tabiki https://www.linkedin.com/in/dilaraydmr/"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="img/symbols.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/Dilaraydmr"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="img/symbols.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            loading="lazy"
            src="images/04-Sümeyye Terzi.jpg"
            alt="Sümeyye Terzi"
          />
        </div>
        <div class="team__box">
          <p class="team__member">Sümeyye Terzi</p>
          <p class="team__role">Front End Developer</p>
          <a
            class="team__link-linkedin team__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com/in/s%C3%BCmeyye-terzi-762568270/"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="img/symbols.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/kyotosanayi"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="img/symbols.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            loading="lazy"
            src="images/05-Negin Kerimli.jpeg"
            alt="Negin Kerimli"
          />
        </div>
        <div class="team__box">
          <p class="team__member">Negin Kerimli</p>
          <p class="team__role">Front End Developer</p>
          <a
            class="team__link-linkedin team__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com/in/negin-kerimli-004b72320/"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="img/symbols.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/Neginkrml"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="img/symbols.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            loading="lazy"
            src="images/06-Erdem Demircioglu.jpeg"
            alt="Erdem Demircioglu"
          />
        </div>
        <div class="team__box">
          <p class="team__member">Erdem Demircioglu</p>
          <p class="team__role">Front End Developer</p>
          <a
            class="team__link-linkedin team__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com/in/erdem-demircioglu-76b80533/"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="img/symbols.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/erdem6161"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="img/symbols.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            loading="lazy"
            src="images/07-Alper Kale.jpeg"
            alt="Alper Kale"
          />
        </div>
        <div class="team__box">
          <p class="team__member">Alper Kale</p>
          <p class="team__role">Front End Developer</p>
          <a
            class="team__link-linkedin team__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com/in/alper-kale-developer?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="img/symbols.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/AlperKale"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="img/symbols.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            loading="lazy"
            src="images/08-Mürsel Şen.jpeg"
            alt="Mürsel Şen"
          />
        </div>
        <div class="team__box">
          <p class="team__member">Mürsel Şen</p>
          <p class="team__role">Front End Developer</p>
          <a
            class="team__link-linkedin team__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com/in/murselsen/"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="img/symbols.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/AlperKale"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="img/symbols.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
